		html { overflow-x: hidden; }
           .header{
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -50vw;
				width: 100vw;
				height: 110px;
				background-color: #ad0028;
			}
			
			.img{
			width: 150px; 
			height: 500px;
			margin-left:50px;
			margin-top:100px
			}
			.txt {
            border: 1px solid red;
            padding: 20px;
			}
			.table{
			 height:750px;
			 background-color:#fcf9f5;
			}
			.table2{
			 padding-top:10px;
			 height:400px;
			 width:auto;
			}
			.table3{
			 padding-top:10px;
			 height:650px;
			 width:auto;
			 background: url(../img/Dolina-Reki-Douru-e1475751717512.png);
			 background-repeat: no-repeat;
			 background-attachment: fixed;
			 background-size: cover;
			}
			
						
        	.navbar {
				overflow: hidden;
				background-color: #ad0028;
				font-family: Arial, Helvetica, sans-serif;
			}

			.navbar a {
				float: left;
				font-size: 16px;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			.dropdown {
				float: left;
				overflow: hidden;
			}

			.dropdown .dropbtn {
				font-size: 16px;    
				border: none;
				outline: none;
				color: white;
				padding: 14px 16px;
				background-color: inherit;
				font-family: inherit;
				margin: 0;
			}

			.navbar a:hover, .dropdown:hover .dropbtn {
			}
			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				float: none;
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.dropdown-content a:hover {
				background-color: #ddd;
			}

			.dropdown:hover .dropdown-content {
				display: block;
			}
			.line_block {  
			float:left; 
			padding-top:20px;
			text-align:center;
			}
			.rating {
			}
			.rating:not(:checked) > input {
				display: none;
			}
			.rating:not(:checked) > label {
				width: 22px;
				float: right;
				padding: 0;
				cursor: pointer;
				font-size: 22px;
				line-height: 22px;
				color: lightgrey;
				text-shadow: 1px 1px #bbb;
			}
			.rating:not(:checked) > label:before {
				content: '★';
			}
			.rating > input:checked ~ label {
				color: gold;
				text-shadow: 1px 1px #c60;
			}
			.rating:not(:checked) > label:hover,
			.rating:not(:checked) > label:hover ~ label {
				color: gold;
			}
			.rating > input:checked + label:hover,
			.rating > input:checked + label:hover ~ label,
			.rating > input:checked ~ label:hover,
			.rating > input:checked ~ label:hover ~ label,
			.rating > label:hover ~ input:checked ~ label {
				color: gold;
				text-shadow: 1px 1px goldenrod;
			}
			.rate > label:active {
				position: relative;
			}
		.table-left{
			text-align: left;
			}
			.hr{
			border-color: red;
			width:240px;
			margin-left:1010px;
			margin-top:290px;
			}
			
			.absol_position{
			position:absolute;
			}
				.link {
		   color: #fff;
		   border-radius: 3px;
		   text-decoration: none;
		   text-align:center;
			}
			.line_block-header {  
			float:left; 
			text-align:center;
			}
			 body {
			  margin: 0;
			  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			  font-size: 16px;
			  font-weight: 400;
			  line-height: 1.5;
			  color: #212529;
			  text-align: left;
			  background-color: #fff;
			}

			.container {
			  max-width: 600px;
			  margin-left: auto;
			  margin-right: auto;
			  padding-left: 15px;
			  padding-right: 15px;
			}

			.tabs {
			  display: flex;
			  flex-direction: column;
			}

			.tabs__links {
			  display: flex;
			  width: 100%;
			  overflow-x: auto;
			  overflow-y: hidden;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 10px;
			  order: 0;
			  white-space: nowrap;
			  background-color: #fff;
			  border: 1px solid #e3f2fd;
			  box-shadow: 0 2px 4px 0 #e3f2fd;
			}

			.tabs__links>a {
			  display: inline-block;
			  text-decoration: none;
			  padding: 6px 10px;
			  text-align: center;
			  color: #1976d2;
			}

			.tabs__links>a:hover {
			  background-color: rgba(227, 242, 253, 0.3);
			}

			.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
			.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
			.tabs>#content-3:target~.tabs__links>a[href="#content-3"] {
			  background-color: #bbdefb;
			  cursor: default;
			}

			.tabs>div:not(.tabs__links) {
			  display: none;
			  order: 1;
			}

			.tabs>div:target {
			  display: block;
			}
		.name-cite{
			 color: white;
			 font-family: «Great Vibes», cursive;
			 font-size: 25px;
			 line-height: 20px;
			 font-weight: normal;

			 text-align: center;
			 text-shadow: 0 1px 1px #fff;
			 }
		 
		.h2{
		font-size: 30px;
		color: #605833; font-family: Georgia, arial, serif;
		margin-left: 60px;
		padding-top:130px;
		}
		.h3{
		color: #605833;
		font-family: Enriqueta;
		font-size: 20px;
		margin-left: 60px;
		}
		.image_btn{
			background-image: url('../img/vino.ico');
			background-size: 20px 20px;
			background-position: 10px 10px; 
			background-repeat: no-repeat;
			padding: 15px;
			transition: width 0.4s ease-in-out;
			}
			.image_btn2{
			background-image: url('../img/grapes.ico');
			background-size: 20px 20px;
			background-position: 10px 10px; 
			background-repeat: no-repeat;
			padding: 15px;
			transition: width 0.4s ease-in-out;
			}
			.image_btn3{
			background-image: url('../img/pairings.ico');
			background-size: 20px 20px;
			background-position: 10px 10px; 
			background-repeat: no-repeat;
			padding: 15px;
			transition: width 0.4s ease-in-out;
			}
				